<app-header></app-header>
<ng-container *ngIf="products.length != 0">
  <div class="container-fluid" style="background-color: #f1f3f6">
    <div class="row justify-content-around">
      <div class="col-7 mb-5 box15 mt-5" style="height: 100%">
        <h3 class="mt-4 mb-5">My Cart({{ products.length }})</h3>
        <app-cart-item [products]="products"></app-cart-item>
        <button class="btn btn-primary btn-lg mt-5 mb-3" (click)="emptyCart()">
          EMPTY CART
        </button>
        <button
          routerLink="/payment"
          class="btn btn-danger btn-lg mt-5 mb-3"
          style="float: right"
        >
          PLACE ORDER
        </button>
      </div>
      <div class="col-4 box15 mt-5" style="height: 400px">
        <h3 class="mb-5 mt-4">PRICE DETAILS</h3>
        <h5 class="mb-3">
          Prices of Products<span style="float: right">${{ grandTotal }}</span>
        </h5>
        <h5 class="mb-3">
          Coupon For you
          <span style="color: green; float: right">-$10</span>
        </h5>
        <h5 class="mb-3">
          Delivery Charges
          <span style="color: green; float: right">FREE</span>
        </h5>
        <h4>
          Total Amount
          <span style="color: green; float: right">
            ${{ grandTotal - 10 }}
          </span>
        </h4>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="products.length == 0">
  <app-emptycart></app-emptycart>
</ng-container>
