<div *ngFor="let item of products">
  <div class="col mb-5">
    <div class="row">
      <div class="col-4">
        <img
          src="{{ item.image }}"
          height="200px"
          width="90%"
          alt="Please Reload"
        />
      </div>
      <div class="col-8">
        <h5>{{ item.title }}</h5>
        <h6>
          Delivery by Mon Jun 13 | Free $
          <span style="text-decoration: line-through">40</span>
        </h6>
        <h5 class="mb-5">Price ${{ item.price }}</h5>
        <button class="btn btn-primary mx-3">SAVE FOR LATER</button>
        <button class="btn btn-primary" (click)="removeItem(item)">
          REMOVE
        </button>
      </div>
    </div>
  </div>
</div>
