<div class="container-fluid">
  <div class="row justify-content-center" style="background-color: #f8f8f8">
    <div class="box11 col-md-2 col-sm-5 mt-5">
      <h5 class="mb-4">ABOUT FLIPKART</h5>
      <p class="box13">Who We Are</p>
      <p class="box13">Blog</p>
      <p class="box13">Work with Us</p>
      <p class="box13">Report Fraud</p>
    </div>
    <div class="box11 col-md-2 col-sm-5 mt-5">
      <h5 class="mb-4">FLIPKARTVERSE</h5>
      <p class="box13">Flipkart</p>
      <p class="box13">Delivering India</p>
      <p class="box13">Hyperpure</p>
      <p class="box13">Flipkartland</p>
    </div>
    <div class="box11 col-md-2 col-sm-5 mt-5">
      <h5 class="mb-4">FOR SELLERS</h5>
      <p class="box13">Partner With us</p>
      <p class="box13">Apps for Us</p>
      <p class="box13">Flipkart For Work</p>
    </div>
    <div class="box11 col-md-2 col-sm-5 mt-5">
      <h5 class="mb-4">LEARN MORE</h5>
      <p class="box13">Privacy</p>
      <p class="box13">Security</p>
      <p class="box13">Terms</p>
      <p class="box13">Sitemap</p>
    </div>
    <div class="box11 col-md-2 col-sm-5 mt-5">
      <h5 class="mb-4">SOCIAL LINKS</h5>
      <p class="box13">Instagram</p>
      <p class="box13">Facebook</p>
      <p class="box13">Twitter</p>
    </div>
    <hr />
    <p style="padding-left: 50px; padding-right: 50px">
      By continuing past this page, you agree to our Terms of Service, Cookie
      Policy, Privacy Policy and Content Policies. All trademarks are properties
      of their respective owners. 2008-2022 © Flipkart™ Ltd. All rights
      reserved.
    </p>
  </div>
</div>
