
.item img{
    width: 64px;
}
.item{
    margin:0px 15px;
    text-align: center;
}

.item a:hover{
    color:blue;
}

.imgitem:hover{
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}

.box12{
    white-space: nowrap;
    overflow: hidden;
    max-width: 20ch;
}

@media only screen and (max-width: 992px) {
    .box12{
        max-width: 30ch;
    }
}

@media only screen and (max-width: 758px) {
    .box12{
        max-width: 60ch;
    }
}

@media only screen and (max-width: 992px) {
    .box11{
        text-align: center;
    }
    .box13{
        text-align: center;
    }
}